{% extends 'dapapp/index.html' %}
{% load static %}

{% block sidebar %}
	<div class="wrapper ">
		<div class="sidebar" data-color="blue" data-active-color="danger">
		  <div class="logo">
		    <a href="https://www.creative-tim.com" class="simple-text logo-mini">
		      <!-- <div class="logo-image-small">
		        <img src="./assets/img/logo-small.png">
		      </div> -->
		      <!-- <p>CT</p> -->
		    </a>
		    <a href="#" class="simple-text logo-normal">
		      Your Logo
		      <!-- <div class="logo-image-big">
		        <img src="{% static 'assets/img/logo-big.png' %}">
		      </div> -->
		    </a>
		  </div>
		  <div class="sidebar-wrapper">
		    <ul class="nav">
		      <li class="active ">
		        <a href="#">
		          <i class="nc-icon nc-bank"></i>
		          <p>Home</p>
		        </a>
		      </li>
		      <li>
		        <a href="#">
		          <i class="nc-icon nc-diamond"></i>
		          <p>Second Item</p>
		        </a>
		      </li>
		      <li>
		        <a href="{% url 'reports' %}">
		          <i class="nc-icon nc-paper"></i>
		          <p>Reports</p>
		        </a>
		      </li>
		    </ul>
		 </div>
    </div>

{% endblock %}

{% block content %}
    <script type="text/javascript" src="{% static 'Chart2.min.js' %}"></script>
    <div class="row mb-4">
    	<div class="col">
		    <canvas id="buyers" width="400" height="400"></canvas>
		</div>
	<!-- pie chart canvas element -->
	    <div class="col">
	        <canvas id="countries" width="400" height="400"></canvas>
	    </div>
    </div>
	<!-- bar chart canvas element -->
	<canvas id="income" width="600" height="400"></canvas>
	<script>
	    // line chart data
	    var buyerData = {
	        labels : ["January","February","March","April","May","June"],
	        datasets : [
	        {
	            fillColor : "rgba(172,194,132,0.4)",
	            strokeColor : "#ACC26D",
	            pointColor : "#fff",
	            pointStrokeColor : "#9DB86D",
	            data : [203,156,99,251,305,247]
	        }
	    ]
	    }
	    // get line chart canvas
	    var buyers = document.getElementById('buyers').getContext('2d');
	    // draw line chart
	    new Chart(buyers).Line(buyerData);
	    // pie chart data
	    var pieData = [
	        {
	            value: 20,
	            color:"#878BB6"
	        },
	        {
	            value : 40,
	            color : "#4ACAB4"
	        },
	        {
	            value : 10,
	            color : "#FF8153"
	        },
	        {
	            value : 30,
	            color : "#FFEA88"
	        }
	    ];
	    // pie chart options
	    var pieOptions = {
	         segmentShowStroke : false,
	         animateScale : true
	    }
	    // get pie chart canvas
	    var countries= document.getElementById("countries").getContext("2d");
	    // draw pie chart
	    new Chart(countries).Pie(pieData, pieOptions);
	    // bar chart data
	    var barData = {
	        labels : ["January","February","March","April","May","June"],
	        datasets : [
	            {
	                fillColor : "#48A497",
	                strokeColor : "#48A4D1",
	                data : [456,479,324,569,702,600]
	            },
	            {
	                fillColor : "rgba(73,188,170,0.4)",
	                strokeColor : "rgba(72,174,209,0.4)",
	                data : [364,504,605,400,345,320]
	            }
	        ]
	    }
	    // get bar chart canvas
	    var income = document.getElementById("income").getContext("2d");
	    // draw bar chart
	    new Chart(income).Bar(barData);
	</script>
	<script type="text/javascript">
		var cv = document.getElementById('buyers')
		var dateObj = new Date()
		var weekday = dateObj.getDay()
		console.log(weekday)
		if (weekday !== 1){
			cv.style.display = "none";
		}
	</script>
	<script type="text/javascript">
		var da = new Date();
		var dat = da.getDate();
		console.log(dat)
	</script>

{% endblock %}